.container {
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(../../components/images/JPG/bamboo-texture.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-bottom: 20px solid black;

}
.box {
    width: 100%;
    text-align: center;
}
.header.fixed {
    height: min-content;
    transition: top 0.5s ease;
  }

.logo_img {
    width: 20%;
    margin: 12px 30%;
}

.box h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}


